<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>
        autocomplete
    </title>
    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css')}}">
</head>

<body>

<h1> An Auto-complete system </h1>

<!-- linking script -->
    <!-- <script type="text/javascript">
    function search_words()
    {   
        var url = document.getElementById("searchTxt").value;
        setTimeout(function(){window.location.href = '/search?term=' + url;});
    }
    </script> -->
    <label for = "Search-search">Search for words:</label>
    <input type="search" 
        results = 5 
        id = "searchTxt" 
        name="q" 
        aria-label="Search for auto-complete" 
        placeholder="Search and go wild ..">
    <button onclick="search_words();">Search!</button>
    <p id="demo"></p>

<h3>
    <b>History of Words Searched</b>
</h3>

<ol id='list'> 
        <li class="words">In</li> 
        <li class="words">the</li> 
        <li class="words">crib</li> 
        <li class="words">Fish</li> 
        <li class="words">Gorilla</li> 
        <li class="words">Monkey</li> 
        <li class="words">May</li> 
        <li class="words">World</li> 
        <li class="words">Lord</li> 
        <li class="words">broken</li> 
        <li class="words">Horse</li> 
    </ol> 

<script>
function search_words()
{   
    var url = document.getElementById("searchTxt").value;
    setTimeout(function(){window.location.href = '/search?term=' + url;});
}

function redirectToSearchResults() {
    const searchInput = document.getElementById("searchTxt");
    searchInput.addEventListener(
        'keyup', function onEvent(e) {
            if (e.keyCode === 13) {
                console.log("user starts search");
                search_words();
            }
        }
    )
}

function sendTimeToServer(){
    var time = new Date();
    var i = document.createElement("img");
    i.src = "/getTime?time=" + time;
    document.getElementById("time").innerHTML = time;
}

redirectToSearchResults();
</script>
<button onclick = "sendTimeToServer()">update time</button>
<div id = "time">Time: </div>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css')}}">
</body>

</html>
