<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>
        autocomplete
    </title>
    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css')}}">
</head>

<body>
    <div class="container">

        <h1 style="color:darkslateblue"> Text Autocomplete </h1>

        <div class="column">

            <input type="search" id="searchTerm"
                placeholder="Search and go wild ..">
            <button class="btn btn-outline-primary" onclick="search_words()">Search</button>

            <br>
            <br>

            <h3>
                <b>Search History</b>
            </h3>

            <ul id='list'>
                <li class="words">In</li>
                <li class="words">the</li>
                <li class="words">crib</li>
                <li class="words">Fish</li>
                <li class="words">Gorilla</li>
                <li class="words">Monkey</li>
                <li class="words">May</li>
                <li class="words">World</li>
                <li class="words">Lord</li>
                <li class="words">broken</li>
                <li class="words">Horse</li>
            </ul>
        </div>
        <script>
            function search_words() {
                // Get search term from user input
                const searchTerm = document.getElementById("searchTerm").value;
                setTimeout(function () {
                    window.location.href = '/search?term=' + searchTerm;
                });
            }

            function redirectToSearchResults() {
                const searchInput = document.getElementById("searchTerm");
                searchInput.addEventListener(
                    'keyup',
                    function onEvent(e) {
                        if (e.keyCode === 13) {
                            console.log("user starts search");
                            search_words();
                        }
                    }
                )
            }

            function sendTimeToServer() {
                var time = new Date();
                var i = document.createElement("img");
                i.src = "/getTime?time=" + time;
                document.getElementById("time").innerHTML = time;
            }

            redirectToSearchResults();
        </script>
</body>

</html>